[user]
    name = Dongjin Lee
    email = wooner49@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[credential]
    helper = osxkeychain
[alias]
    b = branch
    br = branch -r
    ba = branch -a
    bv = branch -v
    co = checkout
    st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
